@charset "utf-8";
#index{padding: 10px 10px 10px 10px;}
#indextable,#indextable td,#indextable th {border-collapse: collapse;border:1px solid #333;}
#indextable th{text-align:center;}
#pay{display:flex;padding: 10px 10px 10px 10px;}
#payjp_checkout_box{display:none;}
#reason{display:none;}
#address{padding: 10px 10px 10px 10px;}
@media screen and (min-width: 1000px) and (max-width:1399px){

}
@media screen and (min-width: 1400px){
 
}
